<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @recipe.name %>
</p>

<p>
  <b>Image:</b>
  <%= @recipe.image %>
</p>

<h2>Ingredients</h2>
<ul>
  <% @recipe.ingredients_recipes.each do |ingredients_recipe| %>
    <li><%= ingredients_recipe.quantity %> of <%= ingredients_recipe.ingredient.name %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
